#root {
	/* max-width: 1280px; */
	/* margin: 0 auto; */
	/* padding: 2rem; */
	/* text-align: center; */
}
/* #tag-add-btn:hover {
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out ;
	color: teal ;
} */

.MomentCard:hover {
	background: #fff !important;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05) !important;
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
		0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12) !important;

	cursor: pointer !important;
	
}
